name: krknctl test
on:
  pull_request:
jobs:
  test:
    name: krknctl test
    runs-on: ubuntu-24.04
    steps:
      - name: create multi-node kind cluster
        uses: redhat-chaos/actions/kind@main
      - name: code checkout
        uses: actions/checkout@v4
      - name: set up go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23.1'
      - name: install podman
        run: |
          sudo apt-get update && sudo apt-get install podman libbtrfs-dev nodejs wamerican libgpgme-dev
      - name: setup podman
        run: |
          echo "XDG_RUNTIME_DIR=/run/user/$UID" >> $GITHUB_ENV
          echo "PODMAN_SOCKET=$XDG_RUNTIME_DIR/podman/podman.sock" >> $GITHUB_ENV
          loginctl enable-linger $(whoami)
          podman system service --time=0 $PODMAN_SOCKET &
      - name: set up test formatters
        run: |
          go install github.com/gotesttools/gotestfmt/v2/cmd/gotestfmt@latest
          go install github.com/ctrf-io/go-ctrf-json-reporter/cmd/go-ctrf-json-reporter@latest
      - name: get quay token for private registry jwt unit tests
        env:
          QUAY_T_USERNAME: ${{secrets.QUAY_T_USERNAME}}
          QUAY_T_PASSWORD: ${{secrets.QUAY_T_PASSWORD}}
        run: |
          export TOKEN=$(curl -s -X GET \
            --user "$QUAY_T_USERNAME:$QUAY_T_PASSWORD" \
            "https://quay.io/v2/auth?service=quay.io&scope=repository:rh_ee_tsebasti/krkn-private:pull,push&scope=repository:rh_ee_tsebasti/krkn-hub-private:pull,push" \
            -k | jq -r '.token')
          echo "QUAY_TOKEN=$TOKEN" >> $GITHUB_ENV
      - name: run registry for private registry basic auth unit tests
        run: |
          mkdir auth
          docker pull -q registry:2
          docker pull -q httpd:2
          docker run \
            --entrypoint htpasswd \
            httpd:2 -Bbn testuser testpassword > auth/htpasswd
          docker run -d \
            -p 5001:5000 \
            --restart=always \
            --name registry \
            -v "$(pwd)"/auth:/auth \
            -e "REGISTRY_AUTH=htpasswd" \
            -e "REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm" \
            -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd \
            registry:2
          docker pull -q quay.io/krkn-chaos/krkn-hub:dummy-scenario
          docker pull -q quay.io/krkn-chaos/krkn:latest
          docker login localhost:5001 -u testuser -p testpassword
          docker tag quay.io/krkn-chaos/krkn-hub:dummy-scenario localhost:5001/krkn-chaos/krkn-hub:dummy-scenario
          docker tag quay.io/krkn-chaos/krkn:latest localhost:5001/krkn-chaos/krkn:latest
          docker push -q localhost:5001/krkn-chaos/krkn-hub:dummy-scenario
          docker push -q localhost:5001/krkn-chaos/krkn:latest
      - name: run gosec security scanner
        uses: securego/gosec@master
        with:
          args: --exclude G402 ./...

      - name: run staticcheck static code analyzer
        run: |
          wget https://github.com/dominikh/go-tools/releases/latest/download/staticcheck_linux_amd64.tar.gz
          tar xfvz staticcheck_linux_amd64.tar.gz
          ./staticcheck/staticcheck -checks all ./...
          
      - name: run test suite
        env:
          CI_FORK_PR: ${{ github.event.pull_request.head.repo.full_name != github.event.pull_request.base.repo.full_name }}
        run: |
         export USERID=$(id -u)
         go test -tags containers_image_openpgp -race -json -v  -coverprofile=coverage.out ./... 2>&1 | tee /tmp/gotest.log | gotestfmt
         cat /tmp/gotest.log | go-ctrf-json-reporter -output ctrf-report.json > /dev/null
      - name: generate test report
        run: npx github-actions-ctrf ctrf-report.json
      - name: generate coverage report
        run: |
          COVERAGE=$(go tool cover -func coverage.out | grep total | awk '{print $3}')
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "# TEST COVERAGE: $COVERAGE" >> $GITHUB_STEP_SUMMARY
          echo "TOTAL_COVERAGE=$COVERAGE" >> $GITHUB_ENV

      - name: check out doc repo
        uses: actions/checkout@v4
        with:
          repository: krkn-chaos/krkn-lib-docs
          path: krkn-lib-docs
          ssh-key: ${{ secrets.KRKN_LIB_DOCS_PRIV_KEY }}

      - name: push updated coverage badge
        env:
          COLOR: yellow
        run: |
          [[ $TOTAL_COVERAGE > 40 ]] && COLOR=green
          curl -s  "https://img.shields.io/badge/coverage-${TOTAL_COVERAGE//\%/}%25-$COLOR" > ./krkn-lib-docs/coverage_badge_krknctl.svg
          cd krkn-lib-docs
          git add .
          git config user.name "krkn-chaos"
          git config user.email "<>"
          git commit -m "[KRKN] Coverage Badge ${GITHUB_REF##*/}" || echo "no changes to commit"
          git push
          

